* {
    background-color: #2C73EF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: white;
  
}

.nav{
    text-align: center ;
    overflow:hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px dotted white;
}

.nav ul li{
    display: inline;
   
}

.nav a{
    padding:5rem;
    text-decoration: none;
}

.nav a:hover{
    background-color: white;
    color: black;
}

.table{
   align-content: center;
    text-align: center;
    margin-left: auto  ;
    margin-right: auto;
    font-size: larger;
    
}

tr, td ,th{
    text-align: left;
    margin: 0 auto;
    padding:10px;
    border-bottom: white2px solid;
}

h1{
    text-align: center;
    text-decoration: underline;
}

img{
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
}

th , td {
    border-bottom: 1px solid;
}

th{
 font-weight: 400;
}

.container {
    display: flex;
  }
  
  
.card {
    flex: 50%;
    padding: 5px;
  }

img:hover{
    transition: transform 10s;
}


div img:hover{
    transform: scale(1.5);
}